<!DOCTYPE html>
<html>
<head>
  <title>Readability</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
<body>
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!--  -->
          <a class="navbar-brand" href="/"><span class="book"><%= image_tag "book.png" %> </span> Readability</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li class="<%= 'active' if current_page?(root_path) %>"> <a href="/">Home</a></li>
          	<li class="<%= "active" if current_page?(about_path) %>"><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<%= yield %>
<div class="floatbottom">
<p><%= link_to "Created by Nikolaos Alexiou", "http://www.github.com/nalexiou", target: "_blank" %></p>
</div>
</body>
</html>
